RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/$    index.php    [L]

RewriteRule ^listing/([A-Za-z0-9-]+)/?$    listing.php?listing=$1    [NC,L] 
RewriteRule ^shop/([A-Za-z0-9-]+)/?$    shop.php?user_shop=$1    [NC,L] 
RewriteRule ^track_booking/([A-Za-z0-9-]+)/?$    track_booking.php?su7=$1    [NC,L] 
RewriteRule ^listing_edit/([A-Za-z0-9-]+)/?$    listing_edit.php?listing_au=$1    [NC,L] 


RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

ErrorDocument 400 /errors/bad-request.html

ErrorDocument 401 /errors/auth-reqd.html

ErrorDocument 403 /errors/forbid.html

ErrorDocument 404 /errors/404.html

ErrorDocument 500 /errors/server-err.html